*.pyc
db.sqlite3
venv/
.vscode/
*/_pycache_/
/node_modules
.env
static/css/*
static/js/*
static/assets/
static/.vite/
dist/
npm-debug.log
yarn-error.log
static/tramites/*
/todo.md
/documentos
/logs
/env/
db.sqlite3
.hotfile