[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django-vite-plugin = "*"
psycopg2-binary = "*"
django = "==3.2"
django-rest-framework = "*"
cx-oracle = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10"
