$color-primary: #C00011;
$color-gray: #F9FAFB;
$color-red: #F62025;
$color-black: #202428;
$color-white: #E9ECEE;
$color-black-menu: #202428;
$color-background: #F0F2F3;
$color-db: #50ab87;
$color-db-panel-title: #686d7a;