/*
================================================================================
Buttons
================================================================================

Sonata provides you with buttons for the most common uses,
but feel free to register as many as you need.

Optionally, color variants can easily be created with the `button` mixin.
*/


// Define the `border-radius` property for all buttons.
// The global `$radius` value is used by default.

$button-radius: $radius !default;


// Horizontal padding.

$button-padding-x: 1.25em !default;


// Vertical padding.

$button-padding-y: 0.75em !default;


/*
 * The neutral base class for any button.
 */
.btn {
    @include button((border-color: $color-gray-30));
    border-radius: $button-radius;
    padding: $button-padding-y $button-padding-x;
}


/* Types
============================================================================= */

.btn--primary {
    @include button((background-color: $color-primary));
}

.btn--light {
    @include button((background-color: $color-gray-20));
}

.btn--white {
    @include button;
}

.btn--danger {
    @include button((background-color: $color-danger));
}

.btn--success {
    @include button((
        background-color: $color-success,
        text-color: #fff
    ));
}

.btn--blue {
    @include button((
        background-color: #4285F4,
        text-color: #fff
    ));
}

.btn--ujed {
    @include button((
        background-color: #BA0000,
        text-color: #fff
    ));
}

.btn--pdf {
  @include button((
    background-color: #fff,
    text-color: #d32f2f
  ));

  border: 1px solid #d32f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn--db {
    @include button((
        background-color: $color-db,
        text-color: #fff
    ));
}

.btn--db-index {
    display: inline-block;
    font-size: rem(13);
    padding: 0.5em 1.5em;

    @include button((
        background-color: $color-db,
        text-color: #fff
    ));
}


.btn--link {
    background-color: transparent;
    border: 0;
    color: $color-link;
    padding: 0;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        color: $color-link-focus;
        text-decoration: underline;
    }
}


/* Outline variants
================================================================================

Buttons that have a solid border and a transparent background in their
default state. They can be created with the `button-outline` mixin.
*/

.btn--outline-primary {
    @include button-outline;
}

/*
 * A white outlined button for dark backgrounds.
 */
.btn--outline-inverted {
    @include button-outline((
        background-color-hover: rgba(#fff, 0.15),
        background-color-active: transparent,
        text-color: #fff,
        text-color-hover: #fff
    ));
}


/* Loading
============================================================================= */

/*
 * This modifier replaces the button's text with a loading icon
 * to give users feedback when submitting.
 */
.btn--loading {
    color: transparent !important;
    position: relative;

    &::after {
        animation: spin 750ms linear infinite;
        border: 2px solid rgba(#000, 0.2);
        border-radius: 50%;
        content: "";
        display: block;
        height: 1.2em;
        @include position(absolute, calc(50% - 0.6em) null null calc(50% - 0.6em));
        width: 1.2em;
    }

    &:disabled {
        filter: none;
        opacity: 1;
    }
}


/* Size variants
============================================================================= */

.btn--xs {
    font-size: rem($font-size * 0.65);
    padding: ($button-padding-y * 0.75) ($button-padding-x * 0.75);
}

.btn--sm {
    font-size: rem($font-size * 0.8);
    padding: ($button-padding-y * 0.95) ($button-padding-x * 0.95);
}

.btn--lg {
    font-size: rem($font-size * 1.2);
    padding: ($button-padding-y * 1.1) ($button-padding-x * 1.2);
}


/* Width variants
============================================================================= */

.btn--narrow {
    padding-left: $button-padding-x * 0.45;
    padding-right: $button-padding-x * 0.45;
}

.btn--wide {
    padding-left: $button-padding-x * 1.75;
    padding-right: $button-padding-x * 1.75;
}

.btn--min-width {
    min-width: 250px;
}
