.table-index thead th {
    padding-bottom: 1em;
}

.table-index thead tr {
    border-bottom: 0;
}

.table-index {

    tbody {
        border-top: 0;
        display: block;
    }

    td, th {
        display: flex;
    }

    td {
        padding: 5px 15px;
        text-align: left;
    }

    &.table-index--spaced td {
        padding: 0.75em 15px;
    }
}

.table-index__headings, .btn-container{
    display: none;
}

.table-index__label {
    color: $color-gray-60;
    display: none;
    flex-shrink: 0;
    margin-right: 30px;
    max-width: 35%;
    text-align: left;

    .table-index--mobile & {
        display: inline;
    }
}